.form-group{
    padding: 10px;
    align-content: center;
}
#show_result{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-style: italic;
}
.container{
    margin-top: 20px;
}

  input[type=text], select {
    width: 10%;
    padding: 5% 35%;
   
   
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }